<div class="container w-50">
  <div class="card">
    <div class="card-body">
      <div class="card-header text-center">User Management</div>

      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control w-50 mb-1"
            [(ngModel)]="user.username"
            placeholder="Enter a username"
          />
        </div>

        <div class="col-md-6">
          <input
            type="text"
            class="form-control w-50 mb-1"
            [(ngModel)]="user.firstname"
            placeholder="Enter your First Name"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control w-50 mb-1"
            [(ngModel)]="user.lastname"
            placeholder="Enter your Last Name"
          />
        </div>

        <div class="col-md-6">
          <input
            type="text"
            class="form-control w-50 mb-1"
            [(ngModel)]="user.email"
            placeholder="Enter your email"
          />
        </div>
      </div>

      <div>
        <input
          type="text"
          class="form-control w-50 mb-1"
          [(ngModel)]="user.password"
          placeholder="Enter your password"
        />
      </div>

      <div>
        <input
          type="text"
          class="form-control w-50 mb-1"
          [(ngModel)]="user.address"
          placeholder="Enter your address"
        />
      </div>

      <div>
        <input
          type="text"
          class="form-control w-50 mb-1"
          [(ngModel)]="user.phonenum"
          placeholder="Enter your phone number"
        />
      </div>
      <div>
        <input
          type="text"
          class="form-control w-50 mb-1"
          [(ngModel)]="user.userrole"
          placeholder="Enter your User Role"
        />
      </div>
      @if(editUserID){
      <button class="btn btn-primary" (click)="updateUser()">Update</button>
      <button class="btn btn-warning" (click)="resetFrom()">Reset</button>
      } @else {
      <div>
        <button class="btn btn-outline-primary" (click)="addUser()">
          Add User
        </button>
      </div>
      }
      <hr />
      <div>
        <h2>List of Users</h2>
        @for(user of users; track user.id){
        <p>
          {{ $index + 1 }} : {{ user.id }} : {{ user.firstname }} :
          {{ user.lastname }} : {{ user.username }} : {{ user.email }} :
        </p>
        <button class="btn btn-primary" (click)="setEditUser(user)">
          Edit
        </button>
        <button class="btn btn-danger" (clcik)="deleteUser(user.id)">
          Delete
        </button>
        }
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
